
    <div class="col-sm-4" id='solo_fpp_season_stats_container'>
        <div class="card">
            <div class="card-header">
                <span class="pull-left" id='solo_fpp_season_stats'></span> <span class="pull-right" id='solo_fpp_season_matches'></span>
            </div>
            <div class="card-body">
                <div class="list-group d-flex flex-row flex-wrap">
                    <p class="list-group-item text-center" id='solo_fpp_season_kills' style='width: 50%;'>
                        <span id='solo_fpp_season_kills__text'> 
                        </span><br>
                        <b>
                            <span id='solo_fpp_season_kills__figure'> 
                            </span>
                        </b>
                    </p>
                    <p class="list-group-item text-center" id='solo_fpp_season_damage' style='width: 50%;'>
                        <span id='solo_fpp_season_damage__text'> 
                        </span><br>
                        <b>
                            <span id='solo_fpp_season_damage__figure'> 
                            </span>
                        </b>
                    </p>
                </div>
                <div class="list-group d-flex flex-row flex-wrap">
                    <p class="list-group-item text-center" id='solo_fpp_fpp_season_longest_kill' style='width: 50%;'>
                        <span id='solo_fpp_season_longest_kill__text'> 
                        </span><br>
                        <b>
                            <span id='solo_fpp_season_longest_kill__figure'> 
                            </span>
                        </b>
                    </p>
                    <p class="list-group-item  text-center" id='solo_fpp_season_headshots' style='width: 50%;'>
                        <span id='solo_fpp_season_headshots__text'> 
                        </span><br>
                        <b>
                            <span id='solo_fpp_season_headshots__figure'> 
                            </span>
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
