{% extends "base.html" %}

{% block extra_functions %}
	<script src="/static/js/cookies.js"></script>

	<script type="text/javascript">
		window.cookies = function(){
			let player_names = window.getCookie('playerNames')

			if(player_names){

				let player_object = {
					text: `Go to {{ player_name }}'s profile`,
					href: window.location.href
				}

				if(!(player_names.some(player => player.text === player_object.text))) {
					player_names.push(player_object)
					window.setCookie('playerNames', player_names)
				}

				player_names = window.getCookie('playerNames')

				if(player_names.length >= 5){
					player_names = player_names.slice(-5)
				}

				let list = player_names.filter(function(player) {
					return !(player.href == window.location.href) ?  true : false
				}).map(player => {
					return `<a href="${player.href}">${player.text}</a>`
				})

				if(list.length >= 1){
					$('#recent_searches').append(list.join(' | '))
					$('#recent_searches').show()
					$('#recent_searches').children().show()
				}
			} else {
				window.setCookie('playerNames', [])
				$('#recent_searches').hide()
				$('#recent_searches').children().hide()
			}
		}
	</script>
{% endblock %}

{% block body %}
	<style>
		td.details-control {
			background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
			cursor: pointer;
		}
		tr.shown td.details-control {
			background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
		}
		.top-buffer {
			margin-top:20px;
		}
	</style>

	<div class="card shadow-sm">
		<div class='card-header' style="text-align: center">
			Welcome!
		</div>
		<div class="card-body" style='padding: 0'>
			<br>
			<form method="POST" action='/search' class="form-horizontal no-margin no-padding" style='margin-bottom: 0; padding-bottom: 0' id='search_form'>
				{% set display_both = false %}
				{{ forms.search_field(name='player_name', type='text', placeholder='Enter a Players Name', required='true', value=player_name, display=false) }}
				{{ forms.select_field(name='platform', type='text', required='true', options=platform_selections, value=platform, display=false) }}
				{% if display_both %}
					<hr>
				{% endif %}
				<input type="submit" style="display: none"/>
			</form>
			{{ forms.select_field_two_one_line(name_one='perspective', required_one='false', options_one=perspective_selections, name_two='game_mode', required_two='false', options_two=gamemode_selections) }}
			
			<div id='recent_searches' style='display: none; padding-left: 20px; padding-right: 20px; padding-bottom: 20px;'>
				<hr>
				<h6>Some of your recent Searches:</h6>
			</div>
			<input type="hidden" id="player_id" value="null">
			<input type="hidden" id="player_name" value="null">
			<input type="hidden" id="season_stats_endpoint" value="/retrieve_season_stats">
			<input type="hidden" id="retrieve_matches" value="/retrieve_matches">
		</div>
	</div>

	<br>
	<div class="card accordion" id='seasons_container'>
			
		<div class='card-header' id="season_stats_button" data-toggle="collapse" data-target="#season_stats_show_hide_container" aria-expanded="false" aria-controls="season_stats">
			Show/Hide Season Stats
		</div>

		<div class='card-body collapse' id="season_stats_show_hide_container">

			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="normal-tab" data-toggle="tab" onclick="window.requestSeasonStats(this);" href="#normal" role="tab" aria-selected="true" aria-controls="normal">
						Normal Stats
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="ranked-tab" onclick="window.requestSeasonStats(this);" data-toggle="tab" href="#ranked" role="tab" aria-selected="false" aria-controls="ranked">
						Ranked Stats
					</a>
				</li>
			</ul>
			<div class="tab-content">

				<div class="tab-pane card-body active" id="normal" role="tabpanel">

					<div id="season_stats">
						<div class='row' id='fpp_row' style='margin-bottom: 10px'>
							{% include "includes/normal/solo_fpp_season_stats.html" %}
							{% include "includes/normal/duo_fpp_season_stats.html" %}
							{% include "includes/normal/squad_fpp_season_stats.html" %}
						</div>
						<div class="row" id='tpp_row'style='margin-top: 10px'>
							{% include "includes/normal/solo_season_stats.html" %}
							{% include "includes/normal/duo_season_stats.html" %}
							{% include "includes/normal/squad_season_stats.html" %}
						</div>
					</div>

				</div>

				<div class="tab-pane card-body" id="ranked" role="tabpanel">

					<div id="ranked_season_stats">
						<div class='row' id='ranked_row' style='margin-bottom: 10px'>
							{% include "includes/ranked/ranked_squad_fpp_season_stats.html" %}
							{% include "includes/ranked/ranked_squad_season_stats.html" %}
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

	<br>

	<div class="card accordion shadow-sm" id='display_choice' >
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
			<label class="btn active">
				<input type="radio" name="options" id="as_table" autocomplete="off" checked> Table
			</label>
			<label class="btn">
				<input type="radio" name="options" id="as_detailed_cards" autocomplete="off"> Detailed
			</label>
			<label class="btn">
				<input type="radio" name="options" id="as_compact_cards" autocomplete="off"> Compact
			</label>
		</div>
	</div>
	<br>

	<div class="card" style='border: 0px; display: none' id='card_container'>

		<div class="alert alert-warning alert-dismissible fade show" style='display: none;' role="alert" id='not_matching'>
			<strong>
				Sorry, you've played no recent matches that match this criteria...
			</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" >
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="row" id='card_container_row'>
			
		</div>

	</div>

	<div class="card accordion shadow-sm" id='datatable_container'>
		<div class="card-header">
			<b>Please note:</b>
			<ol>
				<li>This table will auto-reload with data as of when it becomes available.</li>
				<li>Only matches from the last 14 days, will show here.</li>
			</ol>
		</div>
		<div class="card-body table-responsive-sm">
			<table class='table table-sm' id='results_datatable'  style="width:100%">
				<thead>
					<tr>
						<th width='8'></th>
						<th width='8%'>Map</th>
						<th width='8%'>Mode</th>
						<th width='8%'>Created</th>
						<th width='8%'>Placement</th>
						<th width='60%'>Details</th>
						<th width='10%'>Actions</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th>Map</th>
						<th>Mode</th>
						<th>Created</th>
						<th>Placement</th>
						<th>Details</th>
						<th></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}